<style type="text/css">
.header {
    padding: 60px;
    text-align: center;
    color: black;
    font-size: 30px;
}
body{
  background: #E6DADA;  /* fallback for old browsers */
        background: -webkit-linear-gradient(to left, #274046, #E6DADA);  /* Chrome 10-25, Safari 5.1-6 */
        background: linear-gradient(to left, #274046, #E6DADA); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    }

    .about-section {
    padding: 50px;
    text-align: center;
    background-color: #474e5d;
    color: white;
}


    .card {
        box-shadow: 0 7px 8px 0 rgba(0, 0, 0, 0.2);
        /* margin: 100px;
        width:18rem; */
        /* height: 18rem;  */
    }

    .card-title{
        text-align: center;
    }
    .card-text{
        height:18 rem;
        text-align: center;
    }
    .card-image-top{

    }

    .footer {
      text-align: center;
      padding: 10px;
      background-color:#474e5d;
      color: white;
      height: 200px;
    }

</style>
    <div class="about-section">
        <h1>SkillsUp</h1>

        <p>Through SkillsUp you can increase your skills during quarantine as well as in our daily routine. We have created a site through which you can choose different courses from different platforms. You will also get to know the different courses available in the era. Most of the students know about few courses which are famous but from this site you can get different courses and not only of courses but also about the platform according to your budget.If you are still confused between the courses or platform to choose, feel free to use the contact block and we'll definitely try to help you.</p>
      </div>
      <div class="card-group">
  <div class="card bg-danger">
    <div class="card-body text-center">
      <h1>CREATIVITY</h1>
      <p class="card-text">It's the ability to think outside the box. We make decisions, create something new and generate a lot of ideas.</p>
    </div>
  </div>
  <div class="card bg-danger">
    <div class="card-body text-center">
      <h1>WORLDWIDE</h1>
      <p class="card-text">All sites you make with Mobirise are mobile-friendly. You don't have to create a special mobile version of your site.</p>
    </div>
  </div>
  <div class="header">
        <h1>Our Team</h1>
  </div>
    <div class="container">
      <table>
        <tr>
          <td>
            <div class="row">
              <div class="col">
                <div class="card">
                  <img class="card-img-top" src= "anjali1.jpg"  alt="" style="width:50%">
                  <div class="card-body">
                    <h4 class="card-title">Anjali</h4>
                    <p class="card-text"> WEB DEVELOPER-BACKEND</p>
                  </div>
                </div>
              </div>
            </div>
          </td>
          <td>
            <h3>ANJALI PUSHKAR</h3>
            <p>Anjali was born in 2000 in Delhi.She studies in GGSIP University. Excellent client manager. she is always accurate, all promises are fulfilled, all questions get answers, the team presents very attentive and positive approach.</p>
          </td>
        </tr>
        <tr>
          <td>
            <div class="row">
                <div class="col-lg-3 mb-4">
                    <div class="card">
                        <img class="card-img-top" src="nimmi.jpg" alt="" style="width:50%">
                        <div class="card-body">
                            <h4 class="card-title">Nirmal</h4>
                            <p class="card-text">WEB DEVELOPER-FRONTEND</p>
                        </div>
                    </div>
                </div>
            </div>
          </td>
          <td>
            <h3>NIRMAL SINGH</h3>
            <p>Nirmal was born in 1999 in Delhi.She studies in GGSIP University. Excellent client manager. she is always accurate, all promises are fulfilled, all questions get answers, the team presents very attentive and positive approach. </p>
          </td>
        </tr>
      </table>
<footer>
  <h1 style="text-align:center">Our Clients</h1>
  <p style="text-align:center">Thank You for Choosing Us!</p>
  <h2>For contact</h2>
  <p>skillsup@gmail.com</p>
  <p>phone no:99999999</p>
  <i class="fa fa-facebook-square" style="font-size:30px"></i><span>  </span>
  <i class="fa fa-instagram" style="font-size:30px"></i>

</footer>

