{% extends 'shop/basic.html' %}

{% block title%} About{% endblock %}

{% block aboutactive %} active {% endblock aboutactive %}
{% block css %}
<style type="text/css">
.header {
    padding: 60px;
    text-align: center;
    color: black;
    font-size: 30px;
}
body{
  background: #E6DADA;  /* fallback for old browsers */
        background: -webkit-linear-gradient(to left, #274046, #E6DADA);  /* Chrome 10-25, Safari 5.1-6 */
        background: linear-gradient(to left, #274046, #E6DADA); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    }

    .about-section {
    padding: 50px;
    text-align: center;
    background-color: #474e5d;
    color: white;
}


    .card {
        box-shadow: 0 7px 8px 0 rgba(0, 0, 0, 0.2);
        /* margin: 100px;
        width:18rem; */
        /* height: 18rem;  */
    }

    .card-title{
        text-align: center;
    }
    .card-text{
        height:18 rem;
        text-align: center;
    }
    .card-image-top{

    }

    footer {
      text-align: center;
      padding: 10px;
      background-color:#474e5d;
      color: white;
      height: 200px;
    }

</style>
{% endblock %}

{% block body %}

    <div class="about-section">
        <h1>SkillsUp</h1>

        <p>Through SkillsUp you can increase your skills during quarantine as well as in our daily routine. We have created a site through which you can choose different courses from different platforms. You will also get to know the different courses available in the era. Most of the students know about few courses which are famous but from this site you can get different courses and not only of courses but also about the platform according to your budget.If you are still confused between the courses or platform to choose, feel free to use the contact block and we'll definitely try to help you.</p>
      </div>



    <div class="header">
        <h1>Our Team</h1>
  </div>
  {% load static %}


  <section>
    <div class="container">
        <div class="row">
            <div class="col-lg-3 mb-4">
                <div class="card">
                    <img class="card-img-top" src= "{% static 'anjali1.jpg' %}"  alt="">
                    <div class="card-body">
                        <h4 class="card-title">Anjali</h4>

                        <p class="card-text"> WEB DEVELOPER-BACKEND</p>
                    </div>
                </div>
            </div>



        </div>
        <div class="row">
            <div class="col-lg-3 mb-4">
                <div class="card">
                    <img class="card-img-top" src="{% static 'nimmi.jpg' %}" alt="">
                    <div class="card-body">
                        <h4 class="card-title">Nirmal</h4>

                        <p class="card-text">WEB DEVELOPER-FRONTEND</p>
                    </div>
                </div>
            </div>
        </div>
    </div>


<footer>
  <h2>For contact</h2>
  <p>skillsup@gmail.com</p>
  <p>phone no:99999999</p>
  <i class="fa fa-facebook-square" style="font-size:30px"></i><span>  </span>
  <i class="fa fa-instagram" style="font-size:30px"></i>

</footer>



{% endblock %}
