
{% extends 'shop/basic.html' %}
{% load static %}
{% block title%} Title of About{% endblock %}
{% block homeactive %} active {% endblock homeactive %}

{% load static %}
{% block body %}

<div class="w3-container my-3">
<img src= "{% static 'back.jpg' %}" alt="Girl in a jacket" width="1350" height="600">
<div class="text-block">
<h1>WANT TO</h1>
<h1>LEARN NEW </h1>
<h1>SKILLS..??</h1>
</div>
</div>


<div>
<section>
    <div class="container">
        <div class="row">
            <div class="col-lg-3 mb-4">
                <div class="card">
                    <img class="card-img-top" src= "{% static 'course.jpg' %}" alt="">
                    <div class="card-body">
                        <h4 class="card-title">Courses</h4>

                        <p class="card-text">Go through from courses, you will definitely find something usefull.</p>
                        <a href="{% url 'ShopHome' %}" class="btn btn-primary stretched-link">See Courses</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 mb-4">
                <div class="card">
                    <img class="card-img-top" src="{% static 'blog1.jpg' %}" alt="">
                    <div class="card-body">
                        <h4 class="card-title">Blogs</h4>

                        <p class="card-text">You can publish your own blog as well as read other's blog.</p>
                        <a href="{% url 'blog' %}" class="btn btn-primary stretched-link">See Blogs</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 mb-4">
                <div class="card">
                    <img class="card-img-top" src="{% static 'contact.jpg' %}" alt="">
                    <div class="card-body">
                        <h4 class="card-title">Contact Us</h4>

                        <p class="card-text">Feel free to ask anything. We will try to hell you out as early as possible.</p>
                        <a href="{% url 'ContactUs' %}" class="btn btn-primary stretched-link">See Contacts</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 mb-4">
                <div class="card">
                    <img class="card-img-top" src="{% static 'about.jpg' %}" alt="">
                    <div class="card-body">
                        <h4 class="card-title">Our Team</h4>

                        <p class="card-text">Our team is small in size but big in talent. If want to know more about team you can go through their github profile.</p>
                        <a href="{% url 'AboutUs' %}" class="btn btn-primary stretched-link">See Profile</a>
                    </div>
                </div>
            </div>
        </div>
</div>

<footer class='container-fluid'>
  <h2>For contact</h2>
  <p>skillsup@gmail.com</p>
  <p>phone no:99999999</p>
  <i class="fa fa-facebook-square" style="font-size:30px"></i><span>  </span>
  <i class="fa fa-instagram" style="font-size:30px"></i>

</footer>

{% endblock %}


{% block css %}
body{
  background-color: black;
}

#content img {
  float: center;
}
.container-text {
  top: 80px;
  right: 200px;
  color: White;
}

.content p{
  text-color : white;
  float: right;
}

 .text-block {
  position: absolute;
  top: 80px;
  left: 20px;
  font-weight: 700;
  font-weight: bold;
  color: white;
  padding-right: 20px;
}

.text-block h1{
  font-size: 100px;
}

#im:hover {
  animation: shake 0.5s;
  animation-iteration-count: infinite;
}



.card img{
  height : 200px;
}

 .card {
  <!-- background-color: DarkSlateGray; -->
   max-width: 400;
   height: 420px;

}

#content-wrap {
padding-bottom: 2.5rem;    /* Footer height */
}


footer {
      text-align: center;
      padding: 10px;
      background-color:DarkSlateGrey;
      color: white;
      height: 200px;
    }


.fa-instagram{
  padding-right: 20px;
}
  /* Footer height */
  }

{% endblock %}
